<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body>

<div style="position:relative;top: 20px;left: 50px;">
    <div class="layui-row">
        <form class="layui-form" action="">
            <div class="layui-form-item">
<!--                <div class="layui-input-block">-->
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="scan" name="scan">扫描</button>
<!--                </div>-->
            </div>
        </form>
    </div>
</div>

<script src="../layui/layui.js" charset="utf-8"></script>

</body>
</html>