<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">layui 后台布局</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item"><a href="">产测工具</a></li>
                <li class="layui-nav-item"><a href="">测试结果</a></li>
                <li class="layui-nav-item"><a href="">其他</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="position:relative;left: 3%;top: 5%;">
            <div class="layui-row">
                <form class="layui-form" action="createproject">
                    <div class="layui-form-item">
                        <label class="layui-form-label">设备序列号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="serialNo" required lay-verify="serialNo" placeholder="请输入设备序列号" autocomplete="off" class="layui-input">
                        </div>
                        <button type="button" class="layui-btn" id="device_scan">
                            <i class="layui-icon">&#xe67c;</i>扫描设备
                        </button>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">设备验证码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="devicePassword" required lay-verify="devicePassword" placeholder="请输入设备验证码" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">userid</label>
                        <div class="layui-input-inline">
                            <input type="text" name="userID" required lay-verify="userID" placeholder="请输入UserID" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">COM端口</label>
                        <div class="layui-input-inline">
                            <input type="text" name="input_port" required lay-verify="input_port" placeholder="请输入端口号" autocomplete="off" class="layui-input">
                        </div>
                        <button type="button" class="layui-btn" id="port_scan">
                            <i class="layui-icon">&#xe67c;</i>查看端口
                        </button>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn" lay-submit="" lay-filter="starttest" name="starttest">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>



<script src="../layui/layui.js" charset="utf-8"></script>
<script>
    //JavaScript代码区域
    layui.use(['element','jquery','layer'], function(){
        var $ = layui.jquery;
        var element = layui.element;
        var layer = layui.layer;
        //alert
        $("#device_scan").click(function(){
            //input here
            layer.open({
                type: 2,
                title: '选择设备',
                shadeClose: true,
                shade: 0.8,
                area: ['580px', '90%'],
                shadeClose: false,
                content: 'devicescan'
            });
        });



        // form.verify({
        //     serialNo:function (value){
        //         if(value.length < 1){
        //             return '请输入用户序列号';
        //         }
        //     },
        //     devicePassword:function (value){
        //         if(value.length < 1){
        //             return '请输入设备验证码';
        //         }
        //     },
        //     userID:function (value){
        //         if(value.length < 1){
        //             return '请输入userid';
        //         }
        //     },
        //     input_verify:function (value){
        //         if(value.length < 1){
        //             return '请输入端口号';
        //         }
        //     }
        // });
    });
</script>

</body>
</html>